<a href="https://colab.research.google.com/github/abisheksmart/abishek/blob/main/Airthmetic(16%5C03%5C2022).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
value1=eval(input('enter first number'))
value2=eval(input('enter second number'))
sum=value1,value2
print( value1,'+',value2, '=',sum)

enter first number10
enter second number20
10 + 20 = (10, 20)

In [ ]:
x=20
y=30
x+y

50

In [ ]:
x="10"
y="20"
x+y

'1020'

In [ ]:
x=10
y=10
x-y

0

In [ ]:
x=10
y=10
x*y

100

In [ ]:
x="10"
y=10
x*y

'10101010101010101010'

In [ ]:
x=10
y="10"
x*y

'10101010101010101010'

In [ ]:
x=10
y=10
x//y

1

In [ ]:
x=10
y=10
x/y

1.0

In [ ]:
x=10
y=10
x%y

0

In [ ]:
x=10
y=10
x**y

10000000000

In [ ]:
x=20
y=10
print('x+y=', x+y)
print('x-y=', x-y)
print('x*y=', x*y)
print('x/y=', x/y)
print('x//y=',x//y)
print('x**y=',x**y)

x+y= 30
x-y= 10
x*y= 200
x/y= 2.0
x//y= 2
x**y= 10240000000000

In [ ]:
print("choice 1:Add, 2:Sub, 3:Div, 4:Mul, 5:Quit :")
n1 = input("Enter the choice of operation:")
n =int(n1)
if (n == 1):
    print("you have choosen addition option :")
    a1 =input("Enter the value for A:")
    b1 =input("Enter the value for B:")
    a =int(a1)
    b =int(b1)
    c=a + b
    print("The result",a,"+",b,"=",c)
elif (n == 2):
   print("you have choosen subtraction option :")
   a1 =input("Enter the value for A:")
   b1 =input("Enter the value for B:")
   a =int(a1)
   b =int(b1)
   c =a-b
   print("The result",a,"-",b,"+",c)
elif (n == 3):
   print("you have choosen divison option :")
   a1 =input("Enter the value for A:")
   b1 =input("Enter the value for B:")
   a =int(a1)
   b =int(b1)
   c =a/b
   print("The result",a,"/",b,"=",c)
elif (n == 4):
    print("you have choosen multiplication option :")
    a1 =input("Enter the value for A:")
    b1 =input("Enter the value for B:")
    a =int(a1)
    b =int(b1)
    c =a*b
    print("The result",a,"*",b,"=",c)
elif (n==5):          
   print ("you have given a wrong :",n)
   exit()

choice 1:Add, 2:Sub, 3:Div, 4:Mul, 5:Quit :
Enter the choice of operation:2
you have choosen subtraction option :
Enter the value for A:10
Enter the value for B:20
The result 10 - 20 + -10

In [ ]:
x=20+20.5
print("+ o[perator is evaluated=",x)

+ o[perator is evaluated= 40.5

In [ ]:
x=200+20.0*5
print("* operator is evaluated",x)

* operator is evaluated 300.0

In [ ]:
x=30+20/2*5
print("/ operator is evaluated", x)

/ operator is evaluated 80.0

In [ ]:
x =100 * 5 +(10 % 2)** 1
print(x)

500

In [ ]:
x=10
x+=1
print(x)

11

In [ ]:
x=10
x-=1
print(x)

9

In [ ]:
x=5
x*=5
print(x)

25

In [1]:

 print("Fibonacci Series")
 n1=input("Enter the number :")
 n=int(n1)
 if (n>0):
    f = 0
    s = 1
    i = 0
    next = 0
    while (1):
        print("\n\n****************************************")
        for i in range (n+1):
            if(i <= 1):
               print(i)
            else:
                next = f + s
                f = s
                s = next
                print (next)
        i = i + 1
        break    
 else:
      print(" you have entered wrong input",n)

Fibonacci Series
Enter the number :15


****************************************
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610

In [2]:
a = 10
b =-10
print("a >> 1 =",a >> 1)
print("b >> 1 =",b >> 1)

a >> 1 = 5
b >> 1 = -5

In [3]:
a=10
b=4
print("-a =",~a)

-a = -11

In [4]:
a = 10
b = 4
a|b
print(a|b)

14

In [5]:
a = 10
b = 4
k=a & b
print(k)

0

In [7]:
x = 'HELLO WORLD'
y = {1:'a',2:'b'}
print('H' in x)
print('HELLO' not in x)
print(1 in y)
print('a' in y)

True
False
True
False

In [8]:
x = True
y = False
print('x and y is',x and y)
print('x or y is',x or y)
print('not x is',not x)

x and y is False
x or y is True
not x is False

In [9]:
x = 10
y = 12
print('x > y is', x>y)
print('x < y  is',x<y)
print('x == y is',x==y)
print('x != y is',x!=y)
print('x >= y is',x>=y)
print('x <= y is',x<=y)

x > y is False
x < y  is True
x == y is False
x != y is True
x >= y is False
x <= y is True

In [10]:
x = 15
y = 5
print('x + y =',x+y)
print('x - y =',x-y)
print('x * y =',x*y)
print('x / y =',x/y)
print('x // y =',x//y)
print('x ** y =',x**y)

x + y = 20
x - y = 10
x * y = 75
x / y = 3.0
x // y = 3
x ** y = 759375

In [13]:
num1=int(input("Enter First number"))
num2=int(input("Enter Second number"))
SumValue = (num1 - num2)
print("The Sum of the given numbers is ",SumVamblue)

Enter First number40
Enter Second number20
The Sum of the given numbers is  20

In [14]:
colors = ['red','blue','green']
print(colors)

['red', 'blue', 'green']