<a href="https://colab.research.google.com/github/abisheksmart/abishek/blob/main/Copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

calling a function

In [ ]:
def printme( str ):
  "This prints a passed string into this function"
  print ( str )
  return
printme("I'm first call to user defined function!")
printme("Again second call to the same function")

I'm first call to user defined function!
Again second call to the same function

pass by reference vs value

In [ ]:
def changeme( mylist ):
  "This changes a passed list into this function"
  mylist.append([1,2,3,4]);
  print ("Values inside the function:"),mylist
  return
mylist = [10,20,30];
changeme ( mylist );
print ("Values outside the function:"),mylist

Values inside the function:
Values outside the function:

(None, [10, 20, 30, [1, 2, 3, 4]])

function Arguments

In [ ]:

def printme( str ):
  "This prints a passed string into this function"
  print ( str )
  return;
printme( str = "My string")

My string

In [ ]:
def printinfo( name, age ):
  "This prints a passed info into this function"
  print ("Name: ", name)
  print ("Age ", age)
  return;
printinfo( age=50, name="miki" )

Name:  miki
Age  50

 Default arguments

In [ ]:
def printinfo( name, age = 35 ):
  "This prints a passed info into this function"
  print ("Name: ",name)
  print ("Age ",age)
  return;
printinfo( age=50, name="miki")
printinfo( name="vicky" )

Name:  miki
Age  50
Name:  vicky
Age  35

variable length arguments

In [ ]:
def printinfo( arg1, *vartuple ):
  "This prints a variable passed arguments"
  print ("Output is:")
  print (arg1)
  for var in vartuple:
     print (var)
  return;
printinfo( 10 )
printinfo( 70, 60, 50 )

Output is:
10
Output is:
70
60
50

   Global vs Local variables

In [ ]:
total = 0;
def sum( arg1, arg2 ):
  total = arg1 + arg2;
  print("Inside the function local total : ", total)
  return total;
sum(10,20);
print("Outside the function global total :", total)

Inside the function local total :  30
Outside the function global total : 0

Prime number program using Maths functions

In [ ]:
from math import sqrt
max_value = eval(input("Display prime up to what value? "))
value = 2
while value <=max_value:
    is_prime = True
    trial_factor = 2
    root = sqrt(value)
    while trial_factor <= root:
       if value % trial_factor == 0:
           is_prime = False;
           break
       trial_factor += 1
    if is_prime:
       print(value, end= ' ')
    value += 1
print ()

Display prime up to what value? 20
2 3 5 7 11 13 17 19

Time function : clock example 1

In [ ]:
from time import clock
print("Enter your name: ", end=" ")
start_time = clock()
name = input()
elapsed = clock()-start_time
print(name, "it took you", elapsed, "seconds to respond")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  This is separate from the ipykernel package so we can avoid doing imports until

Enter your name:  rick
rick it took you 0.03246299999999991 seconds to respond

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  """

Time function : clock example 2

In [ ]:
from time import clock 
max_value = 10000
count = 0 
start_time = clock()
for value in range(2, max_value + 1):
    is_prime = True
    for trial_factor in range(2, value):
         if value % trial_factor == 0:
              is_prime = False
              break
    if is_prime:
        count += 1
print()
elapsed = clock() -start_time 
print("Count:",count, "Elapsed time:",elapsed, "sec")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  after removing the cwd from sys.path.

Count: 1229 Elapsed time: 0.7158249999999988 sec

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead

Time function: sleep example

In [ ]:
from time import sleep
for count in range(10, -1, -1):
    print(count)
    sleep(1)

10
9
8
7
6
5
4
3
2
1
0

Random module function example

In [ ]:
from random import randrange, seed
seed(23)
for i in range(0, 100):
    print(randrange(1, 1000), end=' ')
print ()

948 799 972 297 914 850 86 18 607 315 434 389 543 367 134 744 197 274 456 15 227 636 466 924 26 109 88 728 511 432 21 525 643 752 442 368 790 59 211 802 37 604 378 674 177 636 222 995 753 372 580 779 881 378 992 586 289 677 999 322 587 88 834 486 182 736 495 605 811 459 692 658 168 187 819 183 547 332 690 836 533 201 597 118 85 101 437 40 582 283 963 587 288 841 605 339 112 379 922 296

Rolling of a die program using Ranadom Module functions

In [ ]:
from random import randrange
for i in range(0, 5):
  value = randrange(1, 8)
  print("+---------+")
  if value == 1:
      print("|        |")
      print("|    *   |")
      print("|        |")
  elif value == 2:
     print("| *       |")
     print("|         |")
     print("|       * |")
  elif value == 3:   
     print("|        *|")
     print("|    *    |")
     print("| *       |")
  elif value == 4:
     print("| *     * |")
     print("|         |") 
     print("| *     * |")
  elif value == 5:
     print("| *     * |")
     print("|    *    |")
     print("| *     * |")

+---------+
| *     * |
|    *    |
| *     * |
+---------+
+---------+
| *     * |
|    *    |
| *     * |
+---------+
| *     * |
|    *    |
| *     * |
+---------+

Main function

In [ ]:
def gcd(m, n):
  min = m if m < n else n 
  largestFactor = 1
  for i in range(1, min + 1):
      if m % i == 0 and n % 1 == 0:
          largestFactor = i
  return largestFactor
def get_int ():
    return int(input("please enter an integer:"))
def main () :
    n1 = get_int ()
    n2 = get_int ()
    print("gcd(", n1, ",", n2, ") = ", gcd (n1, n2), sep=" ")
main ()

please enter an integer:10
please enter an integer:20
gcd( 10 , 20 ) =  10

paramter passing example

In [ ]:
def increment(x):
  print("Beginning execution of increment, x =", x)
  x += 1
  print("Ending execution of increment,x=",x)
def main ():
  x = 5
  print("Before increment, x=",x)
  increment(x)
  print("After increment, x=", x)
main ()

Before increment, x= 5
Beginning execution of increment, x = 5
Ending execution of increment,x= 6
After increment, x= 5

Recursion

In [ ]:
def factorial (n):
  if n == 0:
      return 1
  else:
      return n * factorial (n - 1)
def main():
    print("0! = ",  factorial(0))
    print("1! = ",  factorial(1))
    print("2! = ",  factorial(10))
main ()

0! =  1
1! =  1
2! =  3628800

Documenting Functions and Modules

In [ ]:
x = '''
This is a multi-line
    string that goes on
for three lines!
'''
print(x)

This is a multi-line
    string that goes on
for three lines!

Built in function

In [ ]:
def add(x, y):
    '''
    Adds the parameters x and y and returns the result
    '''
    return x + y
def multiply(x, y):
    '''
    Multiplies the parameters x and y and returns the result
    '''
    return x * y
def evaluate(f, x, y):
    '''
    calls the function f with parameters x and y:
    f(x, y)
    '''
    return f(x, y)
def main():
    '''
    Tests the add, multiply, and evaluate functions
    '''
    print (add(2, 3));
    print (multiply(2, 3));
    print (evaluate(add, 2, 3));
    print (evaluate(multiply, 2 , 3));
main ()

5
6
5
6

Time function for example 3

In [ ]:
import time
start = time.time()
print("Time elapsed on working...")
time.sleep(0.9)
end = time.time()
print("Time consumed in working: ",end - start)

Time elapsed on working...
Time consumed in working:  0.9031333923339844

Python type()

In [ ]:
prime_numbers = [2,3,5,7]
result = type(prime_numbers)
print(result)

<class 'list'>

In [ ]:
numbers_list = [1, 2]
print(type(numbers_list))
numbers_dict = {1: 'One', 2: 'two'}
print(type(numbers_dict))

class Foo:
  a = 0
foo = Foo()
print(type(foo))

<class 'list'>
<class 'dict'>
<class '__main__.Foo'>

example 2

In [ ]:
o1 = type('x', (object,), dict(a='Foo', b=12))
print(type(o1))
print(vars(o1))
class test:
  a = 'Foo'
  b = '12'
o2 = type('y', (test,), dict(a='Foo', b=12))
print(type(o2))
print(vars(o2))

<class 'type'>
{'a': 'Foo', 'b': 12, '__module__': '__main__', '__dict__': <attribute '__dict__' of 'x' objects>, '__weakref__': <attribute '__weakref__' of 'x' objects>, '__doc__': None}
<class 'type'>
{'a': 'Foo', 'b': 12, '__module__': '__main__', '__doc__': None}

python setattr()

In [ ]:
class Student:
  marks = 88
name = 'sheeran'
person = Student()  
setattr(person, 'name', 'Adam')
print(person.name)
setattr(person, 'marks', 78)
print(person.marks)

Adam
78

setattr()  Return value

In [ ]:
class Person:
  name = 'Adam'

p = Person()
print('Before modification:', p.name)

# setting name to 'John'
setattr(p, 'name', 'John')


print('After modification:', p.name)

Before modification: Adam
After modification: John

When the attribute is not found in setattr()

In [ ]:
class Person:
   name = 'Adam'

p = Person()

# setting attribute name to John
setattr(p, 'name', 'John')

print('Name is:', p.name)

# setting an attribute not present in Person
setattr(p, 'age', 23)

print('Age is:', p.age)

Name is: John
Age is: 23

Create tuples using tuple()

In [ ]:
t1 = tuple()
print('t1 =', t1)

# creating a tuple from a list
t2 = tuple([1, 4, 6])
print('t2 =', t2)

# creating a tuple from a string
t1 = tuple('Python')
print('t1 =',t1)

# creating a tuple from a dictionary
t1 = tuple({1: 'one', 2: 'two'})
print('t1 =',t1)

t1 = ()
t2 = (1, 4, 6)
t1 = ('P', 'y', 't', 'h', 'o', 'n')
t1 = (1, 2)

Python Arbitrary Arguments

In [ ]:
def greet(*names):
   for name in names:
      print("Hello", name)


greet("Monica",  "Luke", "Steve", "John")

Hello Monica
Hello Luke
Hello Steve
Hello John

Defining a Class in Python

In [ ]:
class Parrot:

    # class attribute
    species = "bird"

    # instance attribute
    def __init__(self, name, age):
        self.name = name
        self.age = age

# instantiate the Parrot class
blu = Parrot("Blu", 10)
woo = Parrot("Woo", 15)

# access the class attributes
print("Blu is a {}".format(blu.__class__.species))
print("Woo is also a {}".format(woo.__class__.species))

# access the instance attributes
print("{} is {} years old".format( blu.name, blu.age))
print("{} is {} years old".format( woo.name, woo.age))

Blu is a bird
Woo is also a bird
Blu is 10 years old
Woo is 15 years old

definition a class in python

In [ ]:
class Person:
    "This is a person class"
    age = 10

    def greet(self):
        print('Hello')


# Output: 10
print(Person.age)

# Output: <function Person.greet>
print(Person.greet)

# Output: "This is a person class"
print(Person.__doc__)

10
<function Person.greet at 0x7fcad9670a70>
This is a person class

creating an object in python

In [ ]:
class Person:
    "This is a person class"
    age = 10

    def greet(self):
        print('Hello')


# create a new object of Person class
harry = Person()

# Output: <function Person.greet>
print(Person.greet)

# Output: <bound method Person.greet of <__main__.Person object>>
print(harry.greet)

# Calling object's greet() method
# Output: Hello
harry.greet()

<function Person.greet at 0x7fcad9673560>
<bound method Person.greet of <__main__.Person object at 0x7fcad9655190>>
Hello

constructors in python

In [ ]:
class ComplexNumber:
    def __init__(self, r=0, i=0):
        self.real = r
        self.imag = i

    def get_data(self):
        print(f'{self.real}+{self.imag}j')


# Create a new ComplexNumber object
num1 = ComplexNumber(2, 3)

# Call get_data() method
# Output: 2+3j
num1.get_data()

# Create another ComplexNumber object
# and create a new attribute 'attr'
num2 = ComplexNumber(5)
num2.attr = 10

# Output: (5, 0, 10)
print((num2.real, num2.imag, num2.attr))

# but c1 object doesn't have attribute 'attr'
# AttributeError: 'ComplexNumber' object has no attribute 'attr'
print(num1.attr)

2+3j
(5, 0, 10)

AttributeError: ignored

inhertiance in python

In [13]:
class Polygon:
    def __init__(self, no_of_sides):
        self.n = no_of_sides
        self.sides = [0 for i in range(no_of_sides)]

    def inputSides(self):
        self.sides = [float(input("Enter side "+str(i+1)+" : ")) 
        for i in range(self.n)]

    def dispSides(self):
        for i in range(self.n):
               print("Side",i+1,"is",self.sides[i])

Mulitiple Inheritance

In [21]:
print(issubclass(list,object))

# Output: True
print(isinstance(5.5,object))

# Output: True
print(isinstance("Hello",object))

True
True
True

In [22]:
class X:
    pass


class Y:
    pass


class Z:
    pass


class A(X, Y):
    pass


class B(Y, Z):
    pass


class M(B, A, Z):
    pass

# Output:
# [<class '__main__.M'>, <class '__main__.B'>,
#  <class '__main__.A'>, <class '__main__.X'>,
#  <class '__main__.Y'>, <class '__main__.Z'>,
#  <class 'object'>]

print(M.mro())

[<class '__main__.M'>, <class '__main__.B'>, <class '__main__.A'>, <class '__main__.X'>, <class '__main__.Y'>, <class '__main__.Z'>, <class 'object'>]