<a href="https://colab.research.google.com/github/abisheksmart/abishek/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ADD TWO NUMBERS

In [ ]:
num1=1.5
num2=6.3
sum=num1 +num2
print('The sum of {0} and {1} is {2}'.format(num1,num2,sum))

The sum of 1.5 and 6.3 is 7.8

Add Two Numbers with user input

In [ ]:
num1=input('Enter first number:')
num2=input('Enter second number:')
sum=float(num1)+float(num2)
print('The sum of {0}and{1}is{2}'.format(num1,num2,sum))

Enter first number:1.5
Enter second number:2.5
The sum of 1.5and2.5is4.0

For Positive  numbers

In [ ]:
num = 8
num=float(input('Enter a number:'))
num_sqrt=num **0.5
print('Thesquarerootof%0.3fis%0.3f'%(num,num_sqrt))

Enter a number:15
Thesquarerootof15.000is3.873

Real or complex numbers

In [ ]:
import cmath
num=1+2j
num=eval(input('Enter a number:'))
num_sqrt=cmath.sqrt(num)
print('Thesquarerootof{0}is{1:0.3f}+{2:0.3f}j'.format(num,num_sqrt.real,num_sqrt.imag))

Enter a number:15
Thesquarerootof15is3.873+0.000j

Area of triangle

In [ ]:
a = 5
b = 6
c = 7
a = float(input('Enter first side:'))
b = float(input('Enter second side:'))
c = float(input('Enter third side:'))
s=(a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c))**0.5
print('The area of the triangle is %0.2f'%area)

Enter first side:5
Enter second side:6
Enter third side:7
The area of the triangle is 14.70

using a temporary variable

In [ ]:
x = 5
y = 10
x = input('Enter value of x:')
y = input('Enter value of y:')
temp = x
x = y
y = temp
print('The value of x after swapping:{}'.format(x))
print('The value of y after swapping:{}'.format(y))

Enter value of x:5
Enter value of y:10
The value of x after swapping:10
The value of y after swapping:5

python variables

In [ ]:
x=y=z="same"
print(x)
print(y)
print(z)

same
same
same

Declaring and assigning value to a constant

In [ ]:
!pip install constant

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting constant
  Downloading constant-0.0.4.zip (63 kB)
     |████████████████████████████████| 63 kB 1.7 MB/s
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from constant) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->constant) (2.0.1)
Building wheels for collected packages: constant
  Building wheel for constant (setup.py) ... done
  Created wheel for constant: filename=constant-0.0.4-py3-none-any.whl size=74359 sha256=35e1cc57c1588b66f49f063c4e7c49b9b524765a9236db32396c6eb704a426e9
  Stored in directory: /root/.cache/pip/wheels/66/c7/15/b36373f806bcade834c10be9a6f559d63d9be96fa905b5cd45
Successfully built constant
Installing collected packages: constant
Successfully installed constant-0.0.4

In [ ]:
PI =3.14
GRAVITY =9.8

In [ ]:
import constant
print(constant . PI)
print(constant . GRAVITY)

How to use Numeric literals in python

In [ ]:
a = 0b1010 #Binary literals
b = 100 #Decimal literals
c =  0o320 #octal literals
d = 0x12c #Hexadecimal Literal
float_1 = 10.5
float_2 = 1.5e2
x = 3.14j
print(a,b,c,d)
print(float_1,float_2)
print(x,x.imag,x.real)

10 100 208 300
10.5 150.0
3.14j 3.14 0.0

STring literals

In [ ]:
strings = "This is python"
char = "c"
multiline_str="""This is a multiline string with more than one line code."""
unicode= u"\u00dcnic\u00f6de"
raw_str=r"raw\nstring"
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is python
c
This is a multiline string with more than one line code.
Ünicöde
raw\nstring

Boolean literals

In [ ]:
x=(1==True)
y=(1==False)
a=True+4
b=False+10
print("x is",x)
print("y is",y)
print("a:",a)
print("b:",b)

x is True
y is False
a: 5
b: 10

Special Literals

In [ ]:
drink ="Available"
food = None
def menu(x):
  if x == drink:
    print(drink)
  else:
    print(food)
menu(drink)
menu(food)

Available
None

Literals collections

In [ ]:
fruits = ["apple","mango","orange"]
numbers = (1,2,3)
alphabets ={'a':'apple','b':'ball','c':'cat'}
vowels = {'a','e','i','o','u'} 
print(fruits)
print(numbers)
print(alphabets)
print(vowels)

['apple', 'mango', 'orange']
(1, 2, 3)
{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'u', 'e', 'o', 'i', 'a'}

using function's python type

In [ ]:
Type() with Object parameter

In [ ]:
numbers_list = [1,2]
print(type(numbers_list))
numbers_dict = {1: 'one', 2: 'two'}
print(type(numbers_dict))

class Foo:
  a = 0
  Foo = Foo()
  print(type(Foo))

<class 'list'>
<class 'dict'>

NameError: ignored

Type () with three parameters

In [ ]:
o1 = type('X',(object), dict(a='foo', b=12))
print(type(o1))
print(vars(o1))
class test:
  a = 'Foo'
  b = 12
o2 = type('y', (test,), dict(a='Foo', b=12)) 
print(type(o2))
print(vars(o2))

python set attr()

In [ ]:
class Student:
  marks = 88
  name ='sheeran'
person = Student()
setattr(person, 'name', 'Adam')
print(person.name)
setattr(person.name)
setattr(person, 'marks', 78)
print(person.marks)

Adam

TypeError: ignored

How setattr() works in python?

In [ ]:
class Person:
   name = 'Abishek'
P = Person()
print('Before modification:', P.name)
setattr(P,'name','John')
print('After modification:',P.name)

Before modification: Abishek
After modification: John

python tuple()

In [ ]:
t1 = tuple()
print('t1 =',t1)
t2 = tuple([1,4,6])
print('t2 =',t2)
t1 = tuple('Python')
print('t1=',t1)
t1 = tuple({1: 'one', 2: 'two'})
print('t1 =', t1)

t1 = ()
t2 = (1, 4, 6)
t1= ('P', 'y', 't', 'h', 'o', 'n')
t1 = (1, 2)

To find the area of a circle-using radius

In [ ]:
def findArea(r):
  PI = 3.142
  return PI*(r*r);
print("Area is %.6f"%findArea(5));

Area is 78.550000

sum of squares of first n natural numbers

In [30]:
sm = 0
for i in range(1, n+1) :
  sm = sm + (i * i)
return sm:
n = 4
print(squaresum(n))

SyntaxError: ignored

To interchange first and last elements in a list

In [61]:
def swaplist(newlist):
  size = len(newlist)
  temp = newlist[0]
  newlist[0] = newlist[Size -1] 
  newlist[size - 1] = temp
return newlist = [12, 35, 9, 56, 24]
print(swaplist(newlist))

SyntaxError: ignored

output[24,35,9,56,12]

Write a python program to find smallest number in a list

In [50]:
 list1 = [10, 20, 4]
 list2 =[20, 10, 4, 45, 99]
 list1.sort()
 print("Smallest element is:", *list1[:1])

Smallest element is: 4

To print even numbers in a list.

In [60]:
list1 = [10, 21, 4, 45, 66, 93] 
for num in list1:
  if num % 2 == 0:
    print(num, end = " ")

10 4 66

To print all negative numbers in  given in a range

In [62]:
start, end = -4, 19
for num in range(start, end + 1):
  if num < 0:
    print(num, end = " ")

-4 -3 -2 -1

To check if a string is palindrome or not

In [67]:
def isPalindrome(s):
  return s == s[::-1]
s = "GeeG"
ans = isPalindrome(s)
if ans:
  print("yes")
else:
    print("No")

yes

To print even length words in a string

In [72]:
def printWords(s):
  s = s.split(' ')
  for word in s:
    if len(word)%2==0:
      print(word)
      s ="i am abishek"
printWords(s)

GeeG

Quick sort

In [ ]:
def partition(arr,low,high):
  i = (low-1)
  pivot = arr[high]
for j in range(low, high):
  if