<a href="https://colab.research.google.com/github/abisheksmart/abishek/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New section

In [ ]:
num1 = 1.5
num2 = 6.3
sum = num1 + num2
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

The sum of 1.5 and 6.3 is 7.8

In [ ]:
num1 = input('Enter first number:')
num2 = input('Enter second number:')
sum = float(num1) + float(num2)
print('The sum of {0} and {1} is {2}'.format(num1,num2, sum))

Enter first number:2.5
Enter second number:6.3
The sum of 2.5 and 6.3 is 8.8

In [ ]:
num = 8
num = float(input('Enter a number:'))
num_sqrt = num **0.5
print('The square root of %0.3f is %0.3f'%(num,num_sqrt))

Enter a number:8
The square root of 8.000 is 2.828

In [ ]:
import cmath
num = 1+2j
num + eval(input('Enter a number:'))
num_sqrt = cmath.sqrt(num)
print('The square root of {0} is {1:0.3f}+{2:0.3f}j'.format(num,num_sqrt.real,num_sqrt.imag))

Enter a number:10
The square root of (1+2j) is 1.272+0.786j

In [ ]:
a = 5
b = 10
c = 7
a =float(input('Enter first side:'))
b =float(input('Enter second side:'))
c =float(input('Enter third side:'))
s = (a + b + c)/2
area =(s*(s-a)*(s-b)*(s-c)) **0.5
print(' The area of the triangle is %0.2f'%area)

Enter first side:14
Enter second side:14
Enter third side:7
 The area of the triangle is 47.44

In [ ]:
 x = 5 
 y = 10
 temp = x
 x = y
 y = temp
 print('The value of x after swapping: {}'.format(x))
 print('The value of y after swapping: {}'.format(y))

The value of x after swapping: 10
The value of y after swapping: 5

In [ ]:
number = 10
number = 1.1
website ="apple.com"
print(website)

apple.com

In [ ]:
website = "apple.com"
print(website)
website = "programiz.com"
print(website)

apple.com
programiz.com

In [ ]:
strings ="This is python"
char = "c"
multiline_str = """ This is a multiline string with more than one line code."""
unicode = u"\u00dcnic\u00f6de"
raw_str = r"raw \n string"
print (strings)
print (char)
print(multiline_str)
print(unicode)
print(raw_str)

This is python
c
 This is a multiline string with more than one line code.
Ünicöde
raw \n string

In [ ]:
x = (1 == True)
y = (1 == False)
a = True + 4
b = False + 10
print("x is",x)
print("y is",y)
print("a:",a)
print("b:",b)

x is True
y is False
a: 5
b: 10

In [ ]:
drink = "Available"
food = None
def menu(x):
    if x == drink:
      print(drink)
    else:
      print(food)
menu(drink)
menu(food)

Available
None

In [ ]:
fruits =["apple","Mango","orange"]
numbers = (1, 2, 3)
alphabets ={'a':'apple','b':'ball','c':'cat'}
vowels = {'a','e','i','o','u'}
print(fruits)
print(numbers)
print(alphabets)
print(vowels)

['apple', 'Mango', 'orange']
(1, 2, 3)
{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'o', 'e', 'i', 'u', 'a'}

In [ ]:
def max_of_two( x, y):
  if x > y:
    return x
  return y
def max_of_three( x, y, z):
  return max_of_two( x, max_of_two( y,z))
print(max_of_three(3,6,-5))

6

In [ ]:
test_Dict = {i: i * i for i in range(10)}
test_Set = { i * 2 for i in range(10)}
print (test_Set)
print (test_Dict)

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
def multiply(numbers):
    total = 1
    for x in numbers:
      total *= x
    return total
print(multiply((8,2,3,-1,7)))

-336

In [ ]:
def String_reverse(str1):
     rstr1 = ''
     index = len(str1)
     while index > 0:
       rstr1 += str1[ index - 1]
       index = index -1
     return rstr1
print(String_reverse('1234abcd'))

dcba4321

In [ ]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n *factorial(n-1)
n=int(input("Input a number to compute the factorial:"))
print (factorial(n))

Input a number to compute the factorial:4
24

In [ ]:
def sum(numbers):
  total = 0
  for x in numbers:
      total += x
  return total
print(sum((8,2,3,0,7)))

20

In [ ]:
def test_range(n):
     if n in range(3,9):
       print( "%s is the range"%str (n))
     else :
        print("The number is outside the given range.")
test_range(5)

5 is the range

In [ ]:
def string_test (s):
  d={"UPPER_CASE":0,"LOWER_CASE":0}
  for c in s:
      if c.isupper():
        d["UPPER_CASE"]+=1
      elif c.islower():
        d["LOWER_CASE"]+=1
      else:
         pass
  print ("Original String : ", S)
  print ("No.of Upper case characters :",d["UPPER_CASE"])
  print ("No.of Lower case characters :",d["LOWER_CASE"])

  String_test('The quick Brown Fox')

In [ ]:
def unique (list1):
  unique_list = []
  for x in list1:
        if x not in unique_list:
           unique_list.append(X)

   for x in unique_list:
     print x,
print(f([1,2,3,3,3,3,4,5]) )

IndentationError: ignored