<a href="https://colab.research.google.com/github/abisheksmart/abishek/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

calling a function

In [ ]:
def printme( str ):
  "This prints a passed string into this function"
  print ( str )
  return
printme("I'm first call to user defined function!")
printme("Again second call to the same function")

I'm first call to user defined function!
Again second call to the same function

pass by reference vs value

In [ ]:
def changeme( mylist ):
  "This changes a passed list into this function"
  mylist.append([1,2,3,4]);
  print ("Values inside the function:"),mylist
  return
mylist = [10,20,30];
changeme ( mylist );
print ("Values outside the function:"),mylist

Values inside the function:
Values outside the function:

(None, [10, 20, 30, [1, 2, 3, 4]])

function Arguments

In [ ]:

def printme( str ):
  "This prints a passed string into this function"
  print ( str )
  return;
printme( str = "My string")

My string

In [ ]:
def printinfo( name, age ):
  "This prints a passed info into this function"
  print ("Name: ", name)
  print ("Age ", age)
  return;
printinfo( age=50, name="miki" )

Name:  miki
Age  50

 Default arguments

In [ ]:
def printinfo( name, age = 35 ):
  "This prints a passed info into this function"
  print ("Name: ",name)
  print ("Age ",age)
  return;
printinfo( age=50, name="miki")
printinfo( name="vicky" )

Name:  miki
Age  50
Name:  vicky
Age  35

variable length arguments

In [ ]:
def printinfo( arg1, *vartuple ):
  "This prints a variable passed arguments"
  print ("Output is:")
  print (arg1)
  for var in vartuple:
     print (var)
  return;
printinfo( 10 )
printinfo( 70, 60, 50 )

Output is:
10
Output is:
70
60
50

   Global vs Local variables

In [ ]:
total = 0;
def sum( arg1, arg2 ):
  total = arg1 + arg2;
  print("Inside the function local total : ", total)
  return total;
sum(10,20);
print("Outside the function global total :", total)

Inside the function local total :  30
Outside the function global total : 0

Prime number program using Maths functions

In [ ]:
from math import sqrt
max_value = eval(input("Display prime up to what value? "))
value = 2
while value <=max_value:
    is_prime = True
    trial_factor = 2
    root = sqrt(value)
    while trial_factor <= root:
       if value % trial_factor == 0:
           is_prime = False;
           break
       trial_factor += 1
    if is_prime:
       print(value, end= ' ')
    value += 1
print ()

Display prime up to what value? 20
2 3 5 7 11 13 17 19

Time function : clock example 1

In [19]:
from time import clock
print("Enter your name: ", end=" ")
start_time = clock()
name = input()
elapsed = clock()-start_time
print(name, "it took you", elapsed, "seconds to respond")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  This is separate from the ipykernel package so we can avoid doing imports until

Enter your name:  rick
rick it took you 0.03246299999999991 seconds to respond

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  """

Time function : clock example 2

In [ ]:
from time import clock 
max_value = 10000
count = 0 
start_time = clock()
for value in range(2, max_value + 1):
    is_prime = True
    for trial_factor in range(2, value):
         if value % trial_factor == 0:
              is_prime = False
              break
    if is_prime:
        count += 1
print()
elapsed = clock() -start_time 
print("Count:",count, "Elapsed time:",elapsed, "sec")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  after removing the cwd from sys.path.

Count: 1229 Elapsed time: 0.7158249999999988 sec

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead

Time function: sleep example

In [ ]:
from time import sleep
for count in range(10, -1, -1):
    print(count)
    sleep(1)

10
9
8
7
6
5
4
3
2
1
0

Random module function example

In [ ]:
from random import randrange, seed
seed(23)
for i in range(0, 100):
    print(randrange(1, 1000), end=' ')
print ()

948 799 972 297 914 850 86 18 607 315 434 389 543 367 134 744 197 274 456 15 227 636 466 924 26 109 88 728 511 432 21 525 643 752 442 368 790 59 211 802 37 604 378 674 177 636 222 995 753 372 580 779 881 378 992 586 289 677 999 322 587 88 834 486 182 736 495 605 811 459 692 658 168 187 819 183 547 332 690 836 533 201 597 118 85 101 437 40 582 283 963 587 288 841 605 339 112 379 922 296

Rolling of a die program using Ranadom Module functions

In [ ]:
from random import randrange
for i in range(0, 5):
  value = randrange(1, 8)
  print("+---------+")
  if value == 1:
      print("|        |")
      print("|    *   |")
      print("|        |")
  elif value == 2:
     print("| *       |")
     print("|         |")
     print("|       * |")
  elif value == 3:   
     print("|        *|")
     print("|    *    |")
     print("| *       |")
  elif value == 4:
     print("| *     * |")
     print("|         |") 
     print("| *     * |")
  elif value == 5:
     print("| *     * |")
     print("|    *    |")
     print("| *     * |")

+---------+
| *     * |
|    *    |
| *     * |
+---------+
+---------+
| *     * |
|    *    |
| *     * |
+---------+
| *     * |
|    *    |
| *     * |
+---------+

Main function

In [17]:
def gcd(m, n):
  min = m if m < n else n 
  largestFactor = 1
  for i in range(1, min + 1):
      if m % i == 0 and n % 1 == 0:
          largestFactor = i
  return largestFactor
def get_int ():
    return int(input("please enter an integer:"))
def main () :
    n1 = get_int ()
    n2 = get_int ()
    print("gcd(", n1, ",", n2, ") = ", gcd (n1, n2), sep=" ")
main ()

please enter an integer:10
please enter an integer:20
gcd( 10 , 20 ) =  10

paramter passing example

In [ ]:
def increment(x):
  print("Beginning execution of increment, x =", x)
  x += 1
  print("Ending execution of increment,x=",x)
def main ():
  x = 5
  print("Before increment, x=",x)
  increment(x)
  print("After increment, x=", x)
main ()

Before increment, x= 5
Beginning execution of increment, x = 5
Ending execution of increment,x= 6
After increment, x= 5

Recursion

In [ ]:
def factorial (n):
  if n == 0:
      return 1
  else:
      return n * factorial (n - 1)
def main():
    print("0! = ",  factorial(0))
    print("1! = ",  factorial(1))
    print("2! = ",  factorial(10))
main ()

0! =  1
1! =  1
2! =  3628800

Documenting Functions and Modules

In [ ]:
x = '''
This is a multi-line
    string that goes on
for three lines!
'''
print(x)

This is a multi-line
    string that goes on
for three lines!

Built in function

In [16]:
def add(x, y):
    '''
    Adds the parameters x and y and returns the result
    '''
    return x + y
def multiply(x, y):
    '''
    Multiplies the parameters x and y and returns the result
    '''
    return x * y
def evaluate(f, x, y):
    '''
    calls the function f with parameters x and y:
    f(x, y)
    '''
    return f(x, y)
def main():
    '''
    Tests the add, multiply, and evaluate functions
    '''
    print (add(2, 3));
    print (multiply(2, 3));
    print (evaluate(add, 2, 3));
    print (evaluate(multiply, 2 , 3));
main ()

5
6
5
6

Time function for example 3

In [18]:
import time
start = time.time()
print("Time elapsed on working...")
time.sleep(0.9)
end = time.time()
print("Time consumed in working: ",end - start)

Time elapsed on working...
Time consumed in working:  0.9031333923339844